*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0d0d0d;
}

.input-group{
   margin: 20px 0;
   position: relative;
}

.input-group label{
    position: absolute;
    color: #fff;
    transform: translateY(-45);
    top: 35%;
    left: 15px;
    font-size: 16px;
    pointer-events: none;
    padding: 0 5px;
    transition: .5s;
}

.input-group input{
    width: 360px;
    height: 60px;
    color: #fff;
    font-size: 16px;
    padding: 0 15px;
    border: 1.2px solid rgb(228, 223, 223);
    background: transparent;
    outline: none;
    border-radius: 5px;
}

.input-group input:focus~label,
.input-group input:valid~label{
    top: 0;
    background: #0d0d0d;
    font-size: 14px;


}